body {
    background: url('../images/giphy.gif') no-repeat center center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include gradient-y($start-color: darken($primary, 10%), $end-color: darken($primary, 20%), $start-percent: 0%, $end-percent: 100%);
        opacity: .9;
    }

    // @include gradient-y($start-color: darken($primary, 10%), $end-color: darken($primary, 20%), $start-percent: 0%, $end-percent: 100%);
}

main {
    position: relative;
    min-height: 100vh;
    text-align: center;
    padding-top: 8vh;
    z-index: 2;
}

.img-logo {
    width: 50vw;
    display: block;

    &-small {
        width: 20vw;
        margin-bottom: 10vh;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}



.slot {
    &-game {

        img {
            max-height: calc(25vh - 4rem);
        }
    }

    .jSlots-wrapper {
        overflow: hidden;
        height: 25vh;
        width: 80vw;
        background-color: white;

        margin: auto;
        border-radius: 6rem;
        box-shadow: $box-shadow-lg;
        border: 1.5rem solid $primary;
    }
}

// .btn {
//     &-start-game {
//         margin-top: 5rem;
//         width: 20rem;
//         height: 20rem;
//         font-size: 5rem;
//         background-color: $secondary;
//         box-shadow: 0 1rem darken($secondary, 10%);
//         border-radius: 100%;
//         color: white;
//         font-weight: bold;
//         transition: all 450ms 100ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
//         transition-property: all;
//         transition-duration: 450ms;
//         transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.65);
//         transition-delay: 100ms;

//         &:focus {
//             background-color: darken($secondary, 2.5%);
//             box-shadow: 0 .25rem darken($secondary, 10%);
//             transform: translateY(.75rem);
//             outline: none;
//             transition: all 450ms 100ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
//             transition-property: all;
//             transition-duration: 450ms;
//             transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.65);
//             transition-delay: 100ms;
//         }
//     }
// }

#indexModal {
    padding-right: unset !important;

    .modal {
        &-dialog {
            max-width: 100%;
            margin: unset;
            background: url('../images/giphy.gif') no-repeat center center;
            background-size: cover;
        }

        &-content {
            min-height: 100vh;
            border: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            // @include gradient-y($start-color: $primary, $end-color: darken($primary, 10%), $start-percent: 0%, $end-percent: 100%);
            border-radius: unset;
            background-color: rgba($primary, .9);
        }

        &-body {
            flex: unset;
        }
    }
}

#giftModal {
    .modal {
        &-dialog {
            max-width: 100%;
            margin: unset;
        }

        &-content {
            min-height: 100vh;
            border: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            background-size: contain;
        }

        &-body {
            flex: unset;
            text-align: center;
            position: relative;

            h1 {
                color: white;
                margin-bottom: 3rem;
            }
        }

        &-gift {
            border: .5rem solid white;
            border-radius: 5rem;
            box-shadow: 0 0 10rem white;
        }
    }
}

.modal-backdrop.show {
    opacity: .8;
}

$fuschia: $primary;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

.btn-submit {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    width: 50%;
    font-size: 2rem;
    padding: 1rem 2rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba($primary, 0.5);
    margin-top: 2.5vh;

    &:focus {
        outline: 0;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &:before {
        display: none;
        top: -75%;
        background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after {
        display: none;
        bottom: -75%;
        background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    &.animate {
        &:before {
            display: block;
            animation: topBubbles ease-in-out 0.5s forwards;
        }

        &:after {
            display: block;
            animation: bottomBubbles ease-in-out 0.5s forwards;
        }
    }
}


@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
}

$height:20rem;
$depth:20;
$color-btn:$secondary;
$text-color:darken($color-btn, 10%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out;

.btn-start-game {
    margin-top: 5vh;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    text-shadow: 0 -2px 0 darken($color-btn, 20%), 0 1px 1px lighten($color-btn, 20%);
    box-sizing: border-box;
    font-size: 4.5rem;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    color: $text-color;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 1.5rem 0 rgba(black, .1);
        border-radius: 100%;
    }

    &:visited {
        color: $text-color;
    }

    width: $height;
    height:$height;
    line-height:$height+px;
    padding: 0 (($height/2)+px);
    display:inline-block;
    background: linear-gradient(to bottom,
    saturate(lighten($color-btn, 15%), 35%) 0%,
    saturate(lighten($color-btn, 12%), 15%) 26%,
    $color-btn 100%);
    border-radius:100%;
    border-top:1px solid lighten($color-btn, 22%);
    border-bottom:1px solid lighten($color-btn, 20%);
    top:0;
    transition:all ($button-speed + s) $timing-function;
    position:relative;

    &:focus {
        outline: unset;
    }
}



.btn-start-game:hover {
    background: linear-gradient(to bottom,
        lighten(saturate(lighten($color-btn, 15%), 35%), $lighten-on-hover) 0%,
        lighten(saturate(lighten($color-btn, 12%), 15%), $lighten-on-hover) 26%,
        lighten($color-btn, $lighten-on-hover) 100%);
}

.btn-start-game:active {
    top: $depth+px;
    text-shadow: 0 -2px 0 darken($color-btn, 0%), 0 1px 1px lighten($color-btn, 20%), 0 0 4px white;
    color: lighten($color-btn, 45%);

    &:before {
        top: 0;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .7), 0 3px 9px rgba(0, 0, 0, .2);

    }

    &:after {
        box-shadow: unset;
    }
}

.btn-start-game:before {
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: ($depth)+px;
    border-radius: 100%;
    width: $height;
    height: $height;
    background: linear-gradient(to top,
        saturate(darken($color-btn, 40%), 15%) 0%,
        saturate(darken($color-btn, 25%), 10%) $depth+px);
    transition: all (($button-speed*1.3) + s) $timing-function;
    box-shadow:
        0 1px 0 2px rgba(0, 0, 0, .3),
        0 5px ($depth*.4+px) rgba(0, 0, 0, .5),
        0 ($depth*1.8+px) 9px rgba(0, 0, 0, .2);


}